{% load static %}
{% load ecommerce_tags %}
{%  get_categories as categories%}

<!DOCTYPE html>
<html lang="en">

{% block head %}HEAD{% endblock %}

{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'error'%}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}

    {% endfor %}
{% endif %}

<body>

<div class="super_container">

    {% include 'inc/_header.html' %}

    {% block content %}CONTENT{% endblock %}

    {% include 'inc/_footer.html' %}


</div>

{% block scripts %} SCRIPTS {% endblock %}
</body>

</html>